<!--
    Form for adding a job
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <div class="container">
            <div>
                <label for="form_jobname">Job name</label> <input id="form_jobname" type="text" />
            </div>
            <div>
                <label for="form_occurence">Occurence</label> <input id="form_occurence" type="text" />
            </div>
            <div>
                <label for="form_tdturimapping">DataTank URL for mapping</label> 
                <input id="form_tdturimapping" type="text" value="{{hostname}}" />
            </div>
            <div>
                <label for="form_packagemapping">DataTank package for mapping</label> 
                <input id="form_packagemapping" type="text" />
            </div>
            <div>
                <label for="form_resourcemapping">DataTank resource for mapping</label> 
                <input id="form_resourcemapping" type="text" />
            </div>
            <div>
                <label for="form_format">Data file type</label>
                <select id="form_format" name="type">
                    <option value="CSV0" {% if inputfiletype == "CSV0" %} selected="selected" {% endif %}>CSV with header row and ; as a delimiter</option>
                    <option value="CSV1" {% if inputfiletype == "CSV1" %} selected="selected" {% endif %}>CSV with header row and , as a delimiter</option>
                    <option value="CSV2" {% if inputfiletype == "CSV2" %} selected="selected" {% endif %}>CSV without header row and ; as a delimiter</option>
                    <option value="CSV3" {% if inputfiletype == "CSV3" %} selected="selected" {% endif %}>CSV without header row and , as a delimiter</option>
                    <option value="JSON" {% if inputfiletype == "JSON" %} selected="selected" {% endif %}>JSON</option>
                    <option value="XML" {% if inputfiletype == "XML" %} selected="selected" {% endif %}>XML</option>
                </select>
            </div>
            <div id="arrayleveldiv" {% if inputfiletype != "XML" %}style="display:none"{% endif %}>
                <label for="form_arraylevel">Array level</label> 
                <input id="form_arraylevel" type="text" />
            </div>
            <div>
                <label for="form_inputfile">Data file</label> <input id="form_inputfile" type="text" value="{{inputfilepath}}"/>
            </div>
            <div>
                <label for="form_mappingfile">Mapping file</label> <input id="form_mappingfile" type="text" value="{{mappingfilepath}}"/>
            </div>
            <div>
                <label for="form_loadtype">Load type</label>
                <select id="form_loadtype" name="loadtype">
                    <option value="RDF">RDF</option>
                    <option value="CLI">CLI</option>
                </select>
            </div>
            <div id="RDF" style="display:none">
                <div>
                    <label for="form_sparqlendpoint">SPARQL Endpoint URL</label> 
                    <input id="form_sparqlendpoint" type="text"/>
                </div>
                <div>
                    <label for="form_endpointuser">SPARQL Endpoint User</label> 
                    <input id="form_endpointuser" type="text"/>
                </div>
                <div>
                    <label for="form_endpointpassword">SPARQL Endpoint Password</label> 
                    <input id="form_endpointpassword" type="password"/>
                </div>
                <div>
                    <label for="form_tdturiloading">DataTank URL for loading</label> 
                    <input id="form_tdturiloading" type="text" value="{{hostname}}"/>
                </div>
                <div>
                    <label for="form_packageloading">DataTank package for loading</label>
                    <input id="form_packageloading" type="text" />
                </div>
                <div>
                    <label for="form_resourceloading">DataTank resource for loading</label>
                    <input id="form_resourceloading" type="text" />
                </div>
                <div>
                    <label for="form_tdtuser">DataTank User</label> 
                    <input id="form_tdtuser" type="text"/>
                </div>
                <div>
                    <label for="form_tdtpassword">DataTank Password</label> 
                    <input id="form_tdtpassword" type="password"/>
                </div>
            </div>

            <button id="submit" class="btn">Add</button>
            <div id="error" style="display:none; color:red; font-style: italic"></div>
            <div id="result" style="display:none; color:green; "><p>Job added!</p></div>
            <br /><br /><br />
        </div>
        <script>
            $(function(){
                $(document).ready(function() {
                    $("#form_loadtype").click();
                });
                $("#form_loadtype").click(function(){
                    if ($("#form_loadtype").val() == "CLI"){
                        $("#RDF").hide();
                    }
                    else{
                        $("#RDF").show();
                    }
                });
                $("#form_format").click(function(){
                    if ($("#form_format").val() == "XML"){
                        $("#arrayleveldiv").show();
                    }
                    else{
                        $("#arrayleveldiv").hide();
                        
                    }
                });
                $("#submit").click(function(){
                    var extract = {};
                    switch($("#form_format").val()){
                        case "CSV0":
                            extract = {
                                "type": "CSV",
                                "delimiter": ";",
                                "has_header_row": "1"
                            }
                            break;
                        case "CSV1":
                            extract = {
                                "type": "CSV",
                                "delimiter": ",",
                                "has_header_row": "1"
                            }
                            break;
                        case "CSV2":
                            extract = {
                                "type": "CSV",
                                "delimiter": ";",
                                "has_header_row": "0"
                            }
                            break;  
                        case "CSV3":
                            extract = {
                                "type": "CSV",
                                "delimiter": ",",
                                "has_header_row": "0"
                            }
                            break;
                        case "JSON":
                            extract = {
                                "type": "JSON"
                            }
                            break;

                        case "XML":
                            extract = {
                                "type": "XML",
                                "arraylevel": $('#form_arraylevel').val()
                            }
                            break;
                        default:
                    }
                    extract.source = $('#form_inputfile').val();

                    var load = {
                        "type" : $("#form_loadtype").val()
                    }

                    if ($('#form_loadtype').val() == "RDF"){
                        load.datatank_uri = $('#form_tdturiloading').val();
                        load.datatank_package = $('#form_packageloading').val();
                        load.datatank_resource = $('#form_resourceloading').val();
                        load.endpoint = $('#form_sparqlendpoint').val();
                        load.datatank_user = $('#form_tdtuser').val();
                        load.datatank_password = $('#form_tdtpassword').val();
                        load.endpoint_user = $('#form_endpointuser').val();
                        load.endpoint_password = $('#form_endpointpassword').val();
                    }

                    var config = {
                        "name" : $('#form_jobname').val(),
                        "occurence" : $('#form_occurence').val(),
                        "extract": extract,
                        "map": {
                            "type" : "RDF",
                            "mapfile" : $('#form_mappingfile').val(),
                            "datatank_uri" : $('#form_tdturimapping').val(),
                            "datatank_package" : $('#form_packagemapping').val(),
                            "datatank_resource" : $('#form_resourcemapping').val()
                        },
                        "load": load
                    };
                    $.ajax({
                        type: "PUT",
                        url: "{{hostname}}tdtinput/"+$('#form_jobname').val(),
                        data: JSON.stringify(config),
                        success: function(data, status){
                            $("#error").hide();
                            $("#result").show();
                        },
                        error : function(data){
                            $("#result").hide();
                            $("#error").html("Error "+data.status+": "+data.statusText).show();
                        }
                    });
                });
            });
        </script>
    </body>
</html>