<!--
    Override some elements of the general twig template from Silex
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
{% form_theme form _self %}

<!-- Checkbox list/Radio button list -->
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <!-- If multiple options can be selected, add the class checkbox, else radio -->
        {% if multiple %}
            {% set class = "checkbox" %}
        {% else %}
            {% set class = "radio" %}
        {% endif %}
        <!-- If the formtitle class is wanted in the label, add it -->
        {% if "formtitlelabel" in attr %}
            {% set class = class ~ " formtitlelist" %}
        {% endif %}
        <!-- Add the starttag for the label -->
        {{ form_label(child,null,{"starttag" : true, "label_attr" : { "class" : class }}) }}
        <!-- Add the input fields itself -->
        {{ form_widget(child) }}
        <!-- Add the endtag for the label -->
        {{ form_label(child,null,{"endtag" : true}) }}
        <!-- If infobuttons are wanted, let this know to the child elements -->
        {{ form_label(child,null,{"closingtag" : ("infobuttonlist" in attr)}) }}
        
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_label %}
{% spaceless %}
    <!-- If there is a infobutton, add it before closing the labeltag -->
    {% if closingtag is defined %}
        {% if closingtag %}
            <a href="#" onclick="return false;" id="infobutton_{{id}}" data-html="true">(i)</a>
        {% endif %}
        </label>
    {% elseif label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <!-- If the call to this block didn't come from choice_widget_expanded -->
        {% if starttag is not defined and endtag is not defined %}
            <!-- If the formtitle class is wanted in the label, add it -->
            {% if "formtitlelabel" in attr %}
                {% set label_attr = label_attr|merge({'class': 'formtitle'}) %}
            {% endif %}
            <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}> {{ label|trans({}, translation_domain) }}
            <!-- Add the required class if asked -->
            {% if "required" in attr %}
                    <span class="requiredfield" title="This field is required">*</span>
            {% endif %}
            <!-- Add the infobutton if wanted -->
            {% if "infobutton" in attr %}
                <a href="#" onclick="return false;" id="infobutton_{{id}}" data-html="true">(i)</a>
            {% endif %}
        </label>
        <!-- If the call came from choice_widget and starttag was asked -->
        {% elseif starttag is defined %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <!-- If the call came from choice_widget and endtag was asked, add the text that comes between the two label tags -->
        {% elseif endtag is defined %}
            {{ label|trans({}, translation_domain) }}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}