{% form_theme form _self %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
    	{% if multiple %}
    		{% set class = "checkbox" %}
    	{% else %}
    		{% set class = "radio" %}
		{% endif %}
    	{{ form_label(child,null,{"starttag" : true, "label_attr" : { "class" : class}}) }}
        {{ form_widget(child) }}
		{{ form_label(child,null,{"endtag" : true}) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if starttag is not defined and endtag is not defined %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% elseif starttag is defined %}
        	<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    	{% elseif endtag is defined %}
    		{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}