<!--
    A general form file for eg adding users, adding packages,...
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <div class="container">
            <h1>{{header}}</h1>
            <form action="#" method="post" {{form_enctype(form)}}>
                {% form_theme form 'formtemplate.twig' %}
                <div class="formtitle">{{ form_widget(form) }}</div>
                {% if button is defined %}
                    <button type="submit" class="btn">{{button}}</button>
                {% endif %}
            </form>
            {{ include('footer.twig') }}
        </div>

        <div class="push"></div>
        
        {% if infobuttons is defined %}
            <script>
                $('document').ready(function(){
                    var infobuttons = new Array();
                    {% for index,value in infobuttons %}
                        infobuttons[{{index}}] = {% autoescape false %} "{{value}}" {% endautoescape %};
                    {% endfor %}
                    $('a[id^="infobutton"]').each(function( index, value) {
                        $("#"+value.id).popover({
                            "content" : infobuttons[index],
                            "html" : true,
                            "trigger": "hover"
                        }); 
                    });
                });
            </script>
        {% endif %}
    </body>
</html>