<!--
  
  @copyright (C) 2013 by OKFN Belgium
  @license AGPLv3
  @author Leen De Baets
  @author Jeppe Knockaert
  @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <form action="{{ path('ui_login_check') }}" method="post">
            {{ error }}
            <input type="text" name="_username" value="{{ last_username }}" />
            <input type="password" name="_password" value="" />
            <input type="submit" />
        </form>
        
    </body>
</html>
