<!--
  
  @copyright (C) 2013 by OKFN Belgium
  @license AGPLv3
  @author Leen De Baets
  @author Jeppe Knockaert
  @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <div class="container">
          <h1>Login</h1>
          <form action="{{ checkurl }}" method="post">
              {{ error }}
              <div>
                <label>Username</label>
                <input type="text" name="_username" value="{{ last_username }}" />
              </div>
              <div>
                <label>Password</label>
                <input type="password" name="_password" value="" />
              </div>  
              <input type="submit" class="btn"/>
          </form>
        </div>
    </body>
</html>
