<div class="navbar">	
	<div class="navcontent">
	    <a class="brand" href="#"> <img src="data:image/png;base64,{{logo}}" alt="logo"> </a>

	    <ul class="nav">
	    	{% set path = path(app.request.attributes.get('_route')) %}
			<li class="navtab"> <a {% if "package" in path %} class="activemenuitem" {% endif %} href="{{relpath}}package">Resources</a> </li>
			<li class="navtab"> <a {% if "users" in path %} class="activemenuitem" {% endif %} href="{{relpath}}users">Users</a> </li>
			<li class="navtab"> <a {% if "routes" in path %} class="activemenuitem" {% endif %} href="{{relpath}}routes">Routes</a> </li>
			<li class="navtab"> <a {% if "input" in path %} class="activemenuitem" {% endif %} href="{{relpath}}inputfile">Input</a> </li>
	    </ul>

	</div>
</div>