<div class="navbar">	
	<div class="navcontent">
	    <a class="brand" href="#"> <img src="data:image/png;base64,{{logo}}" alt="logo"> </a>

	    <ul class="nav">

	      <li class="navtab"> <a class="active" href="{{relpath}}package">Resources</a> </li>
	      <li class="navtab"> <a href="{{relpath}}users">Users</a> </li>
	      <li class="navtab"> <a href="{{relpath}}routes">Routes</a> </li>
	      <li class="navtab"> <a href="{{relpath}}input">Input</a> </li>
	    </ul>

	</div>
</div>