<!--
  Twig file for the representation of the packages and resources
  @copyright (C) 2013 by OKFN Belgium
  @license AGPLv3
  @author Leen De Baets
  @author Jeppe Knockaert
  @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Resource Management</title>
        {{ include ('header.twig') }}
    </head>
    <body>

        <div class="wrapper">

          {{ include ('navbar.twig') }}

          <div class="container">
            <h1>Resource management</h1>
            <a href="{{relpath}}package/resourcetype" class="add" id="resource">Add resource</a>
            <div>
              	{% for key, package in packages %}
              	<div>
        		        
                    <div>
                        <h2>{{ key }}</h2>
                        <form class="buttons" id="rempack" action="package/remove" method="post">
                            <input type="hidden" name="path" value="{{key}}">
                            <button href="#deletepackModal" data-toggle="modal" class="btnrem"></button>
                            <!-- Popup when trying to delete a resource -->
                            <div id="deletepackModal" class="modal hide fade" tabindex="-1">
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this package? This will also remove all resource in the package.</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                                    <button name="remove" value="remove" type="submit" class="btn">Yes</button>
                                </div>
                            </div>
                        </form>
                    </div>            
                    
                    <div id='{{key}}' class="accordion-body collapse in">
                        
                        <div class="routes" id="resources">  
                            {% for resource in package %}
                            
                            {{resource.name}}

                            <div class="buttons" id="remres"> 
                                    <button class="btnedit" type="submit" name="edit" value="edit">
                                  
                                    </button> 
                                    <button href="#deleteresModal" data-toggle="modal" class="btnrem">
                                  
                                    </button>
                                    <!-- Popup when trying to delete a resource -->
                                    <div id="deleteresModal" class="modal hide fade" tabindex="-1">
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this resource?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                                            <button name="remove" value="remove" type="submit" class="btn">Yes</button>
                                        </div>
                                    </div>
                                </div>

                            <h4 class="doct">documentation:</h4>
                            <div class="doc"> {{resource.documentation}} </div>
                            
                            <form action="resource/functions" method="post">
                                
                                <input type="hidden" name="path" value="{{key}}/{{resource.name}}">

                                <div id="view">
                                    <h4 id="viewtitle">view:</h4>
                                    <div class="buttons" id="butview">
                                        <button class="btnview" type="submit" name="json" value="json">JSON</button> 
                                        <button class="btnview" type="submit" name="php" value="json">PHP</button> 
                                    </div>
                                </div>

                            </form>

               				      {% endfor %}

                        </div>
          			    </div>
           		   
                </div>
               	{% endfor %}
            
            </div>
          </div>

          <div class="push"></div>

          
            
        </div>

        {{ include('footer.twig') }}

    </body>
</html>