<!--
  Twig file for the representation of the packages and resources
  @copyright (C) 2013 by OKFN Belgium
  @license AGPLv3
  @author Leen De Baets
  @author Jeppe Knockaert
  @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Resource Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
        {{ include ('navbar.twig')}}
        <div class="accordion" id="accordion2">
        	{% for key, package in packages %}
          	<div class="accordion-group">
        		    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href='#{{key}}'>
                            {{ key }}
                        </a>
        		    </div>
        		    <div id='{{key}}' class="accordion-body collapse in">
        		        <div class="accordion-inner">
            		        {% for resource in package %}
                                {{resource}} <br/>
            				{% endfor %}
                        </div>
        			</div>
        		</div>
        	{% endfor %}
        </div>
    </body>
</html>