<!--
  Twig file for the representation of the routelist
  @copyright (C) 2013 by OKFN Belgium
  @license AGPLv3
  @author Leen De Baets
  @author Jeppe Knockaert
  @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Routelist</title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <div class="container">
            <h1>Routes</h1>
            <ul>
                {% for namespace,core in routes %}
                    <li>{{core.namespace}}
                        <ul>
                            {% for index,route in core.routes %}
                                <li>
                                    <form action="routes/edit" method="post">
                                        {{route.documentation}}
                                        <input type="hidden" name="oldroute" value="{{namespace}}//{{index}}">
                                        <button class="btn btn-mini" type="submit" name="edit" value="edit">Edit</button> 
                                        <button class="btn btn-mini" type="submit" name="remove" value="remove">Remove</button>
                                    </form>
                                    <ul>
                                        <li>Method: {{route.method}}</li>
                                        <li>Route: {{route.route}}</li>
                                        <li>Controller: {{route.controller}}</li>
                                        <li>
                                            Users:
                                            <ul>
                                                {% for user in route.users %}
                                                    <li>{{user}}</li>
                                                {% else %}
                                                    No restrictions
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <a href="ui/routes/edit">Add route</a>
        </div>
  </body>
</html>