<!--
    Twig file for the representation of the userlist
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>User list</title>
        {{ include('header.twig') }}
    </head>
    <body>
        
        {{ include('navbar.twig') }}
        
        <div class="container">
            <h1>User management</h1>
            <a href="{{relpath}}users/edit" class="add" id="user">Add user</a>
            <ul class="ul">
                {% for username,user in users %}
                <li class="useritem">
                    <form action="{{relpath}}users/edit" method="post">
                        <h2>{{username}}</h2>
                        <input type="hidden" name="oldname" value="{{username}}">
                        <div class="buttons" id="remuser">
                            <button class="btn btn-mini" type="submit" name="edit" value="edit">Edit</button> 
                            <button class="btn btn-mini" type="submit" name="remove" value="remove">Remove</button>
                        </div>
                    </form>
                    <ul class="routes">
                        <li>{{user.type}}</li>
                        <li>{{user.documentation}}</li>
                        <li>
                            <h4>Routes:</h4>
                            <ul class="routelist">
                                {% if userroutes[username] is defined %}
                                    {% for route in userroutes[username].routes %}
                                        <li>{{routes[route.namespace].routes[route.index].documentation}}</li>
                                    {% endfor %}
                                {% else %}
                                    No routes
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </li>
               	{% endfor %}
            </ul>

            <div class="push"></div>
        
        </div>

    {{ include('footer.twig') }}

    </body>
</html>