<!--
    Twig file for the representation of the userlist
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>User list</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
        {{ include('navbar.twig') }}
        <div class="container">
            <h1>Users</h1>
            <ul>
                {% for username,user in users %}
                    <li>
                        
                        <form action="users/edit" method="post">
                            {{username}}
                            <input type="hidden" name="oldname" value="{{username}}">
                            <button class="btn btn-mini" type="submit" name="edit" value="edit">Edit</button> 
                            <button class="btn btn-mini" type="submit" name="remove" value="remove">Remove</button>
                        </form>
                        
                        <ul>
                            <li>{{user.type}}</li>
                            <li>{{user.documentation}}</li>
                            <li>
                                Routes:
                                <ul>
                                    {% if userroutes[username] is defined %}
                                        {% for route in userroutes[username].routes %}
                                            <li>{{routes[route].documentation}}</li>
                                        {% endfor %}
                                    {% else %}
                                        No routes
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>   
                    </li>
            	{% endfor %}
            </ul>
            <a href="users/edit">Add user</a>
        </div>
    </body>
</html>