<!--
    Twig file for the representation of the userlist
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>User list</title>
        {{ include('header.twig') }}
    </head>
    <body>
        {{ include('navbar.twig') }}
        <div class="container">
            <h1>User management</h1>
            <a href="{{relpath}}users/edit" class="add" id="user">Add user</a>
            <ul class="ul">
                {% for username,user in users %}
                <li class="useritem">
                    <form action="{{relpath}}users/edit" method="post">
                        <h2>{{username}}</h2>
                        <input type="hidden" name="oldname" value="{{username}}">
                        <div class="buttons" id="remuser">
                            <button class="btn btn-mini" type="submit" name="edit" value="edit">Edit</button> 
                            <button class="btn btn-mini" type="submit" name="remove" value="remove">Remove</button>
                        </div>
                    </form>
                    <ul class="routes">
                        <li>{{user.type}}</li>
                        <li>{{user.documentation}}</li>
                        <li>
                            <h4>Routes:</h4>
                            <ul class="routelist">
                                {% if userroutes[username] is defined %}
                                    {% for route in userroutes[username].routes %}
                                        <li>{{routes[route.namespace].routes[route.index].documentation}}<a id="pop_{{route.namespace}}{{route.index}}" onclick="return false;"> (i)</a></li>
                                    {% endfor %}
                                {% else %}
                                    No routes
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </li>
               	{% endfor %}
            </ul>
            {{ include('footer.twig') }}
        </div>
        <script>
            $(function () {
                {% for username,user in users %}
                    {% if userroutes[username] is defined %}
                        {% for route in userroutes[username].routes %}
                            {% autoescape false %}
                                {% set controller = routes[route.namespace].routes[route.index].controller %}
                            {% endautoescape %}
                            $("#pop_{{route.namespace}}{{route.index}}").popover({
                                "content" : "Method: {{routes[route.namespace].routes[route.index].method}}<br />Route: {{routes[route.namespace].routes[route.index].route}}<br />Controller: {{controller|replace({'\\':'\\\\'})}}",
                                "html" : true,
                                "trigger": "hover"
                            }); 
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            });
        </script>
    </body>
</html>