<!--
    Twig file for the representation of the userlist
    @copyright (C) 2013 by OKFN Belgium
    @license AGPLv3
    @author Leen De Baets
    @author Jeppe Knockaert
    @author Nicolas Dierck
-->
<!DOCTYPE html>
<html>
    <head>
        <title>User list</title>
        {{ include('header.twig') }}
    </head>
    <body>
        <div class="wrapper">
            {{ include('navbar.twig') }}
            
            <div class="container">

                <h1>User management</h1>
                <a href="{{relpath}}users/edit" class="add" id="user">Add user</a>
                
                <ul class="ul">
                    {% for username,user in users %}
                    <li class="useritem">
                        <form action="{{relpath}}users/edit" method="post">
                            <h2>{{username}}</h2>
                            <input type="hidden" name="oldname" value="{{username}}">
                            <div class="buttons" id="remuser">
                                <button class="btnedit" type="submit" name="edit" value="edit"></button> 
                                <button href="#deleteModal" class="btnrem"  data-toggle="modal"></button>
                            </div>
                            <!-- Popup when trying to delete a user -->
                            <div id="deleteModal" class="modal hide fade" tabindex="-1">
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{username}}?</p>
                                    <p>If {{username}} is the only user that has access to a certain path, that path will now be freely accessible.</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                                    <button name="remove" value="remove" type="submit" class="btn">Yes</button>
                                </div>
                            </div>
                        </form>
                        <ul class="routes">
                            <li>{{user.type}}</li>
                            <li class="docroute">{{user.documentation}}</li>
                            <li>
                                <h4>Routes:</h4>
                                <ul class="routelist">
                                    {% if userroutes[username] is defined %}
                                        {% for route in userroutes[username].routes %}
                                            <li>{{routes[route.namespace].routes[route.index].documentation}}<button class="infoimg" id="pop_{{route.namespace}}{{route.index}}" onclick="return false;"></button></li>
                                        {% endfor %}
                                    {% else %}
                                        No routes
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                   	{% endfor %}
                </ul>               
            
            </div>
            <div class="push"></div>
        </div>
        {{ include('footer.twig') }}
        <script>
            $(function () {
                {% for username,user in users %}
                    {% if userroutes[username] is defined %}
                        {% for route in userroutes[username].routes %}
                            {% autoescape false %}
                                {% set controller = routes[route.namespace].routes[route.index].controller %}
                            {% endautoescape %}
                            $("#pop_{{route.namespace}}{{route.index}}").popover({
                                "content" : "Method: {{routes[route.namespace].routes[route.index].method}}<br />Route: {{routes[route.namespace].routes[route.index].route}}<br />Controller: {{controller|replace({'\\':'\\\\'})}}",
                                "html" : true,
                                "trigger": "hover"
                            }); 
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            });
        </script>
    </body>
</html>