{{ include('header.twig') }}

    <h1>{{header}}</h1>
    <form action="#" method="post" {{form_enctype(form)}}>

        {% form_theme form 'formtemplate.twig' %}

        <div class="formdiv">{{ form_widget(form) }}
            {% if button is defined %}
                <button type="submit" class="button">{{button}}</button>
            {% endif %}
        </div>

    </form>

{{ include('footer.twig') }}