{{ include('header.twig') }}

    <div class='col-lg-12'>
        <h1>Add a job</h1>
    </div>

    <form class="form-horizontal" role="form">
        <div class='col-lg-12 panel'>
            <div class="panel-heading">
                Schedule a job
            </div>
            <div class='panel-body'>
                <div class='col-lg-6'>
                    <label>Job name</label>
                    <input type="text" class="form-control" id="form_jobname" placeholder="Name of the scheduled job">
                </div>
                <div class='col-lg-6'>
                    <label>Occurence</label>
                    <input type="text" class="form-control" id="form_occurence" placeholder="">
                    <span class='help-block'>Frequency of the job (in minutes)</p>
                </div>
            </div>
        </div>


        <div class='col-lg-12'>
            <div class='col-lg-6'>
                <div class="form-group">
                    <label>DataTank base URL</label>
                    <input id="form_tdturimapping" type="text" class="form-control" value="{{ BASE_URL }}" />
                </div>

                <div class='row nopadding'>
                    <div class="form-group">
                        <div class='col-xs-6 col-sm-6 col-lg-6'>
                            <label>Package name</label>
                            <input id="form_packagemapping" type="text" class="form-control"/>
                        </div>
                        <div class='col-xs-6 col-sm-6 col-lg-6'>
                            <label>Resource name</label>
                            <input id="form_resourcemapping" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label>Data file type</label>
                    <p>{{ type.text }}</p>
                </div>

                <div class='form-group {% if type.value != "XML" %}hide{% endif %}'>
                    <label>Index of objectroot</label>
                    <input id="form_arraylevel" type="text" class='form-control' placeholder='Object root index (number > 0)'/>
                    <span class='help-block'>Because you selected XML as the format, you need to fill this field out. It specifies the level of the XML tag that wraps the objects that need to be published. The index of the first element is 1.</p>
                </div>


                <div class="form-group">
                    <label>Input file URL</label>
                    <p>{{ inputfile | default('Please fill this out on the previous page!')}}</p>
                </div>

                <div class="form-group">
                    <label>Mapping file URL</label>
                    <p>{{ mappingfile | default('Please fill this out on the previous page!')}}</p>
                </div>
            </div>

            <div class='col-lg-6'>

                <div class='row nopadding'>
                    <div class="form-group">
                        <div class='col-xs-6 col-sm-6 col-lg-6'>
                            <label>DataTank admin user</label>
                            <input class='form-control' id="form_tdtuser" type="text"/>
                        </div>
                        <div class='col-xs-6 col-sm-6 col-lg-6'>
                            <label>DataTank admin password</label>
                            <input class='form-control' id="form_tdtpassword" type="password"/>
                        </div>

                        <div class='col-xs-12 col-sm-12 col-lg-12'>
                            <span class='help-block'>The DataTank user that has access to create resource definitions</p>
                        </div>
                    </div>
                </div>


                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#rdf" data-toggle="tab">RDF</a></li>
                    <li><a href="#cli" data-toggle="tab">CLI</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="rdf">
                        <div class='form-group'>
                            <h3>SPARQL</h3>
                        </div>

                        <div class='form-group'>
                            <label>Endpoint URL</label>
                            <input class='form-control' id="form_sparqlendpoint" type="text"/>
                        </div>

                        <div class='row nopadding'>
                            <div class="form-group">
                                <div class='col-xs-6 col-sm-6 col-lg-6'>
                                    <label>Endpoint User</label>
                                    <input class='form-control' id="form_endpointuser" type="text"/>
                                </div>
                                <div class='col-xs-6 col-sm-6 col-lg-6'>
                                    <label>Endpoint Password</label>
                                    <input class='form-control' id="form_endpointpassword" type="password"/>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class='form-group'>
                            <h3>DATATANK</h3>
                        </div>


                        <div class='form-group'>
                            <label>Base URL for loading</label>
                            <input class='form-control' id="form_tdturiloading" type="text" value="{{ BASE_URL }}"/>
                        </div>

                        <div class='row nopadding'>
                            <div class="form-group">
                                <div class='col-xs-6 col-sm-6 col-lg-6'>
                                    <label>Package name for loading</label>
                                    <input id="form_packageloading" type="text" class="form-control"/>
                                </div>
                                <div class='col-xs-6 col-sm-6 col-lg-6'>
                                    <label>Resource name for loading</label>
                                    <input id="form_resourceloading" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="cli">
                        <p>The output will be sent to your console instead of a triplestore.</p>
                    </div>
                </div>

                <br/>


                <div class='form-group'>
                    <button id="submit" class="btn btn-primary">Add</button>

                    <div id="error" style="display:none; color:red; font-style: italic"></div>

                    <div  id="result" style="display:none; color:green; "><p>Job added!</p></div>
                </div>

            </div>
        </div>
    </form>

    <script>
        // Make sure the RDF part also appears when it is set as default
        $(document).ready(function() {
            $("#form_loadtype").click();
        });
        // Show or hide the RDF part according to the selected load type
        $("#form_loadtype").click(function(){
            if ($("#form_loadtype").val() == "CLI"){
                $("#RDF").hide();
            }
            else{
                $("#RDF").show();
            }
        });
        // Show or hide the XML array level field if XML is selected as format
        $("#form_format").click(function(){
            if ($("#form_format").val() == "XML"){
                $("#arrayleveldiv").show();
            }
            else{
                $("#arrayleveldiv").hide();

            }
        });
        // When submit is clicked, fill in the details according to the chosen format
        $("#submit").click(function(){
            var extract = {};
            switch($("#form_format").val()){
                case "CSV0":
                    extract = {
                        "type": "CSV",
                        "delimiter": ";",
                        "has_header_row": "1"
                    }
                    break;
                case "CSV1":
                    extract = {
                        "type": "CSV",
                        "delimiter": ",",
                        "has_header_row": "1"
                    }
                    break;
                case "CSV2":
                    extract = {
                        "type": "CSV",
                        "delimiter": ";",
                        "has_header_row": "0"
                    }
                    break;
                case "CSV3":
                    extract = {
                        "type": "CSV",
                        "delimiter": ",",
                        "has_header_row": "0"
                    }
                    break;
                case "JSON":
                    extract = {
                        "type": "JSON"
                    }
                    break;

                case "XML":
                    extract = {
                        "type": "XML",
                        "arraylevel": $('#form_arraylevel').val()
                    }
                    break;
                default:
            }
            extract.source = $('#form_inputfile').val();

            var load = {
                "type" : $("#form_loadtype").val()
            }
            // If the selected load type is RDF, fill the extra fields
            if ($('#form_loadtype').val() == "RDF"){
                load.datatank_uri = $('#form_tdturiloading').val();
                load.datatank_package = $('#form_packageloading').val();
                load.datatank_resource = $('#form_resourceloading').val();
                load.endpoint = $('#form_sparqlendpoint').val();
                load.datatank_user = $('#form_tdtuser').val();
                load.datatank_password = $('#form_tdtpassword').val();
                load.endpoint_user = $('#form_endpointuser').val();
                load.endpoint_password = $('#form_endpointpassword').val();
            }
            // Read the data from the form
            var config = {
                "name" : $('#form_jobname').val(),
                "occurence" : $('#form_occurence').val(),
                "extract": extract,
                "map": {
                    "type" : "RDF",
                    "mapfile" : $('#form_mappingfile').val(),
                    "datatank_uri" : $('#form_tdturimapping').val(),
                    "datatank_package" : $('#form_packagemapping').val(),
                    "datatank_resource" : $('#form_resourcemapping').val()
                },
                "load": load
            };
            // Send a PUT to The DataTank with the data from the form to add the job
            $.ajax({
                type: "PUT",
                url: "{{ BASE_URL }}tdtinput/"+$('#form_jobname').val(),
                data: JSON.stringify(config),
                success: function(data, status){
                    $("#error").hide();
                    $("#result").show();
                },
                error : function(data){
                    $("#result").hide();
                    $("#error").html("Error "+data.status+": "+data.statusText).show();
                }
            });
        });
    </script>

{{ include('footer.twig') }}