{{ include('header.twig') }}

    <div class='col-lg-12'>
        <h1>User management</h1>
        <a href="{{ BASE_URL }}ui/users/edit" class="add btn btn-primary">Add user</a>

        {% for username,user in users %}

            <div class="buttons" id="remuser">
                <a href="{{ BASE_URL }}ui/users/edit/{{username}}" class="btnedit"></a>
                <a href="#deleteModal" class="btnrem" data-toggle="modal"></a>
            </div>

            {# Popup when trying to delete a user #}
            <div  id="deleteModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{username}}?</p>
                            <p>If {{username}} is the only user that has access to a certain path, that path will now be freely accessible.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default" >No</button>
                            <button type="button" name="remove" value="remove" type="submit" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2>{{username}}</h2>

            <div class="well">
                <p class="docroute">{{user.documentation}}</p>
                <div>
                    <h3>Routes:</h3>
                    <ul class="routelist">

                        {% if userroutes[username] is defined %}

                            {% for route in userroutes[username].routes %}

                                {% autoescape false %}
                                    {% set controller = routes[route.namespace].routes[route.index].controller %}
                                {% endautoescape %}

                                <li>
                                    {{routes[route.namespace].routes[route.index].method}} &mdash; {{routes[route.namespace].routes[route.index].documentation | default('(No documentation for this route)')}}
                                    <button class="infoimg popover_route"
                                        data-route='<strong>Route</strong>: {{routes[route.namespace].routes[route.index].route}}'
                                        data-controller='<strong>Controller</strong>: {{routes[route.namespace].namespace}}\{{controller}}' >
                                    </button>
                                </li>
                            {% endfor %}

                        {% else %}

                            There are no routes assigned to this user.

                        {% endif %}

                    </ul>
                </div>
            </div>

        {% endfor %}

    </div>

    <script>
        $(document).on('ready', function(){
            $(".popover_route").each(function(){
                var content = $(this).data('route') + '<br/>' + $(this).data('controller') + '<br/>';

                $(this).popover({
                    "content" : content,
                    "html" : true,
                    "trigger": "hover"
                });
            });
        });
    </script>

{{ include('footer.twig') }}